*.bin
*.bmp
*.d
*.db
*.deps
*.diagsession
*.enc
*.exp
*.html
*.i
*.idb
*.iobj
*.ipdb
*.ipynb
*.lastcodeanalysissucceeded
*.o
*.opendb
*.pdf
*.pyc
*.pyd
*.res
*.sdf
*.tlog
*.vspx
*.xml
*.zip
*/.vscode/*
*/work/*.txt
*/work/openblas_haswell_lib/
*ubyte
neural/.vs/
neural/lib/include/opencv/
neural/lib/include/opencv2/
neural/lib/x64/*
neural/python/will_wrap.cxx
neural/python/will.py
neural/vc140*
neural/work/*
neural/work/*.png
neural/work/*py*
neural/work/ttt*
neural/work/ttt-cv/
neural/x64/*
